/*------------------------------------------------*/
/*---------------DEFAULT SETUP--------------------*/
/*------------------------------------------------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;    
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

/*------------------------------------------------*/
/*----------------REUSABLE COMPONENT--------------*/
/*------------------------------------------------*/

.clear{
    clear: both;
}

.btn{
    color: white;
    text-decoration: none;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
    background-color: white;
    color: black;
    border: 2px solid #DC143C;
}
.btn:hover{
    background-color: #d35400;
}

.btn:active{
    background-color: #863702;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.row{
    margin: 0 auto;
}

h1,h2{
   text-transform: uppercase;
   letter-spacing: 1px;
}

h1{
    font-size: 300%;
    font-weight: 400;
    word-spacing: 5px;
    color: white;
    list-style: 135%;
    margin-bottom: 50px;
}

h2{
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}
h2:after{
    content: " ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #ec8f3d;
    margin: 0 auto;
}

.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}



/*------------------------------------------------*/
/*--------------------HEADER----------------------*/
/*------------------------------------------------*/

header{
    background-image: linear-gradient(0deg,rgba(2,33,64,0.5) 55%,rgba(45,95,93,0.55)), url(../img/background2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.Logo{
    width: 250px;
    float: left;
    margin-top: 10px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}
.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 90%;
    font-weight: 500;
    transition: border-bottom 0.5s;
    padding: 3px 0;
}

.main-nav li{
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #d35400;

}
.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
    width: 1920px;
}

/*-----------------------------------------------------------------*/
/*--------------------------ABOUT SECTION--------------------------*/
/*-----------------------------------------------------------------*/

.about{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.row-pic{
    display: flex;
    margin: 10%;
    margin-top: 40px;
    
}
.about-list{
    display: flex;
    flex-wrap: wrap;
}

.about-item{
    width: 16.6667%;
    margin: 19px;
    border: 3px solid #e67e22;
    border-radius: 8px;
}

.image-content{
    
    width: 152px;
    height: 232px;
    margin: 8px;
    width: 90%;
    
}
.picture-title{
    margin:12px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #e67e22;
}
.btn-sp1{
    margin-left: 12px;
    padding: 0 10.5px;
    margin-top: 145px;
    color: #e67e22;
    border: none;
    cursor: pointer;
    width: 50px;
    border: 2px solid #e67e22;
    border-radius: 8px;

}
.btn-sp2{
    margin-left: 12px;
    padding: 0 10.5px;
    margin-top: 532px;
    color: #e67e22;
    border: none;
    cursor: pointer;
    width: 50px;
    border: 2px solid #e67e22;
    border-radius: 8px;

}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 130%;
    margin-left: 0;
    width: 1px;
}
.about-item:hover .overlay{
    display: flex;
    opacity: 1;
    margin-left: 0%;
    transition: 0,6s;
}
.btn2{
    opacity: 1;
    border: none;
    background: none;
}
.skin-float{
    font-size: 14px;
    margin: 20px;
    margin-top: 1px;
    margin-bottom: 0px;
    color: orange;
}
.skin-price{
    font-size: 18px;
    margin: 20px;
    margin-top: 1px;
    margin-bottom: 15px;
    color: red;  
}
.sanpham{
    margin: 40px;
}


